@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";/*宋体*/
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
/*头部导航开始*/
.shortcut {
    height: 30px;
    width: 100%;
    background-color: #f1f1f1;
    line-height: 30px;
}
.shortcut .dt,
.shortcut .fr .fore
{
    position: relative;
    padding: 0 20px 0 10px;
}
.shortcut .dt i,
.fore i{
    font: 400 15px/15px "宋体"; /*加粗，字号/行高 字体*/
    position: absolute;
    top: 13px;
    right: 5px;
    height: 7px;
    width: 15px;
    overflow: hidden;
}

.shortcut .dt s,
.fore s
{
    top: -7px;
    position: absolute;
}

.fr li{
    float: left;
    padding: 0 10px;
}

.fr .line {
    width: 1px;
    height: 12px;
    background-color: #DDDDDD;
    margin-top: 9px;
    padding: 0;
}

.shortcut .tel-jd {
    padding-left: 23px;
}

.tel {
    width: 15px;
    height: 20px;
    background: url(../images/sprite.png);
    position: absolute;
    left: 5px;
    top: 5px;
}
/*顶部banner*/
.topbanner-bg {
    width: 100%;
    height: 80px;
    background-color: #8a25c6;
}
.topbanner {
    position: relative;
}

.close-banner {
    width: 19px;
    height: 19px;
    background: url(../images/close.png);
    position: absolute;
    top: 5px;
    right: 0;
}

.close-banner:hover{
    background-position: bottom;
}

.logo {
    width: 360px;
    height: 100px;
    /*padding: 25px 0 20px 0;*/
    line-height: 100px;
    float: left;
}
.logo-a {
    width: 170px;
    height: 100px;
    overflow: hidden;
    float: left;
    background: url(../images/logo.png) no-repeat;
    background-position-y: 25px;
    text-indent: -100em;

}
.dong {
    float: left;
}
.search {
    width: 538px;
    height: 36px;
    background-color: pink;
    float: left;
    margin-top: 25px;
}

.search input {
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left: 4px;
    float: left;
    font: 14px/28px "Microsoft YaHei UI";
    color: #666666;
}

.search button {
    width: 80px;
    height: 36px;
    font: 16px/32px "Microsoft YaHei UI";
    /*font-size: 16px;*/
    color: #ffffff;
    background-color:#B61D1D;
    float: left;
}

.shopcar {
    width: 139px;
    height: 34px;
    line-height: 34px;
    border: 1px solid grey;
    float: right;
    margin-top: 25px;
    margin-right: 134px;
    position: relative;
}
.shopcar a {
    position: absolute;
    left: 43px;
    height: 34px;
    font: normal 13px/34px SimSun;
    color: #666666;
}
.shopcar .car-icon {
    width: 18px;
    height: 16px;
    background: url(../images/sprite.png) ;
    background-position-y: -60px;
    position: absolute;
    top: 10px;
    left: 20px;

}

.shopcar .icon2 {
    font: 400 13px/13px SimSun;
    position: absolute;
    /*top: 10px;*/
    right: 11px;
    top: 11px;
}

.shopcar .icon3 {
    width: 16px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: -4px;
    background-color: #C81623;
    color: #ffffff;
    border-radius: 15px 15px 15px 0;  /*右下 左下 左上 右上*/

}

.hotword {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    font-family: SimSun;
    float: left;
    margin-top: 8px;
}
.hotword a {
    padding: 0;
    float: left;
    margin-right: 9px;
}

.hotword .double11 {
    color: #C81623;
}

/*头部nav*/
.jd-nav {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #b1191a;
}
.jd-nav a {

    margin-right: 40px;
}

.jd-nav .dropdown {
    position: relative;
    z-index: 10;
}

.jd-nav .dropdown .dt a {
    width: 200px;
    height: 45px;
    line-height: 44px;
    background-color: #B1191A;
    float: left;
    margin-right: 20px;
    color: #ffffff;
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
    padding-left: 10px;
}

.jd-nav .dropdown .dd {
    width: 210px;
    height: 465px;
    background-color: #C81623;
    position: absolute;
    top: 46px;
}

.jd-nav .navitem{
    line-height: 44px;
    float: left;
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
}

.jd-nav .bike {
    width: 140px;
    height: 44px;
    background: url("../images/bike.jpg") no-repeat;
    float: right;

}

/*底部  开始*/
.slogen {
    height: 54px;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item {
    position : absolute;
    left: 50%;
    width:302px ;
}

.slogen1 {
    margin-left: -604px;
}
.slogen2 {
    margin-left: -302px;
}
.slogen3 {
    margin-left: 0px;
}
.slogen4 {
    margin-left: 302px;
}
.service dl {
    width: 200px;
    margin-top: 15px;
    float: left;
}
.service dt ,
.coverage .dt {
    height: 30px;
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
    margin-top: 10px;
}
.service dd {
    height: 20px;
}

.coverage {
    width: 210px;
    height: 165px;
    background: url("../images/china.png") no-repeat bottom left;
    float: left;
    margin-top: 15px;
}

.coverage .look {
    text-align: right;
    margin-top: 5px;
}

.jd-footer .againw {
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding: 25px 0 30px 0;
    text-align: center;
}

.jd-footer .link a {
    padding: 0 7px 0 7px ;
}

.copyright {
    line-height: 18px;
    margin-top: 10px;
}

.message {
    margin-top: 30px;
    margin-right: 5px;
}


