@charset "UTF-8";
.banner604 {
    position: relative;
}

.banner604 a {
    background: url("../images/banner.jpg") no-repeat top center;
    width: 100%;
    height: 604px;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    position: relative;
}

.main .slider {
    width: 730px;
    height: 453px;
    background-color: #cccece;
    margin: 12px 0 0  220px;
    float: left;
    position: relative;
}


.slider .circle {
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin-left: -86px;

}

.circle li {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 2px;
    border-radius: 50%;
    background-color:#3E3E3E;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}
.arr {
    display: none;
}

.arr_left,.arr_right {
    position: absolute;
    width: 28px;
    height: 62px;
    top: 50%;
    margin-top: -31px;
    background: rgba(0,0,0,0.2);
    font: 500 20px/62px "宋体";
    color: #ffffff;
    text-align: center;
}

.arr_left:hover,.arr_right:hover {
    background: rgba(0,0,0,.4);
    color: #fff;
}

.arr_left {
    left: 0;
}
.arr_right{
    right: 0;
}

.circle .current {
    background-color:#B61B1F;
}
.main .news {
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 12px;
    overflow: hidden;
}

.news .jd-news {
    height: 200px;
    border-bottom: 1px dashed #E8E8E7;

}
.jd-news .dt , .jd_liftservice .dt {
    height: 43px;
    border-bottom: 1px dotted #E8E8E7;

}

.jd-news h3 ,.jd_liftservice h3 {
    font: 14px/43px "Microsoft YaHei UI";
    float: left;
    margin-left: 15px;
}

.jd-news .dt a {
    font: 12px/43px "宋体";
    float: right;
    margin-right: 15px;
}

.jd-news .dd ul {
    padding: 8px 0 0 15px;
}

.jd-news .dd li {
    line-height: 28px;
}

.jd-news .dd span {
    font-weight: 700;
    margin-right: 6px;
}

.jd_liftservice {
    width: 252px;
    height: 250px;

}

.jd_liftservice .dd li {
    width: 62px;
    height: 68px;
    border: 1px solid #E4E4E4;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;
}

.jd_liftservice li a {
    display: block;
    text-align: center;
    padding-top: 46px;

}

.jd_liftservice li i {
    position: absolute;
    top: 12px;
    left: 21px;
    width: 23px;
    height: 25px;
    background: url("../images/icon_lifeserv.png") no-repeat right top;

}

.lifeservice-icon2 a i {
    background-position: right -50px;
}

.jd_liftservice .song {
    background: url("../images/song.png") no-repeat right top;
}

.jd_liftservice .mian {
    background: url("../images/mian.png") no-repeat right top;
}

.todays {
    position: relative;
}
.night {
    margin: 10px 0 28px 0;
}
.night-r {
    width: 400%;
}
.night-r li {
    float: left;
    margin-right: 1px;
}




